Node Red/flows.json
[{"id":"b407bac.7f86048","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2e95fb0c.e07344","type":"ibmiot in","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"240602","applicationId":"","deviceType":"AkshuDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":100,"wires":[["bf240d8.8dffaf","d73645d1.df77f8","a4ea880a.89c9d8"]]},{"id":"8b91bd1c.11c87","type":"debug","z":"b407bac.7f86048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"bf240d8.8dffaf","type":"function","z":"b407bac.7f86048","name":"Water Level","func":"msg.payload = msg.payload.waterlevel\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":160,"wires":[["8b91bd1c.11c87","543782e7.e885bc"]]},{"id":"d73645d1.df77f8","type":"function","z":"b407bac.7f86048","name":"Food Level","func":"msg.payload = msg.payload.foodlevel\nglobal.set('f',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":220,"wires":[["8b91bd1c.11c87","e1ee23eb.a284b"]]},{"id":"543782e7.e885bc","type":"ui_gauge","z":"b407bac.7f86048","name":"","group":"8412eb08.830d58","order":0,"width":0,"height":0,"gtype":"wave","title":"Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":160,"wires":[]},{"id":"e1ee23eb.a284b","type":"ui_gauge","z":"b407bac.7f86048","name":"","group":"8412eb08.830d58","order":1,"width":0,"height":0,"gtype":"wave","title":"Food Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":220,"wires":[]},{"id":"f6548ef1.a667d","type":"ui_button","z":"b407bac.7f86048","name":"","group":"3eb335fd.15c7fa","order":0,"width":0,"height":0,"passthru":false,"label":"Water Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"wateropen\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":280,"wires":[["736b3d7b.935214","38e17004.d32d1"]]},{"id":"524455f0.4d3e2c","type":"ui_button","z":"b407bac.7f86048","name":"","group":"3eb335fd.15c7fa","order":1,"width":0,"height":0,"passthru":false,"label":"Water Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"waterclose\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":320,"wires":[["736b3d7b.935214","38e17004.d32d1"]]},{"id":"d52ca5a9.9a4378","type":"ui_button","z":"b407bac.7f86048","name":"","group":"3eb335fd.15c7fa","order":2,"width":0,"height":0,"passthru":false,"label":"Food Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"wateropen\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["736b3d7b.935214","38e17004.d32d1"]]},{"id":"5b989fc9.cdfba","type":"ui_button","z":"b407bac.7f86048","name":"","group":"3eb335fd.15c7fa","order":3,"width":0,"height":0,"passthru":false,"label":"Food Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"foodclose\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":400,"wires":[["736b3d7b.935214","38e17004.d32d1"]]},{"id":"736b3d7b.935214","type":"debug","z":"b407bac.7f86048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"38e17004.d32d1","type":"ibmiot out","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","outputType":"cmd","deviceId":"240602","deviceType":"AkshuDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":360,"y":400,"wires":[]},{"id":"dc1cd57.a8e2528","type":"http in","z":"b407bac.7f86048","name":"","url":"/petsensor","method":"get","upload":false,"swaggerDoc":"","x":680,"y":180,"wires":[["3505ba9a.543f66"]]},{"id":"3505ba9a.543f66","type":"function","z":"b407bac.7f86048","name":"","func":"msg.payload = {\"water\": global.get('w'),\"food\" : global.get('f')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["393fb20a.33e4ae","736b3d7b.935214"]]},{"id":"393fb20a.33e4ae","type":"http response","z":"b407bac.7f86048","name":"","statusCode":"","headers":{},"x":1010,"y":180,"wires":[]},{"id":"d8bf0720.87f8d8","type":"debug","z":"b407bac.7f86048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"afb6e2c3.a37c9","type":"http in","z":"b407bac.7f86048","name":"","url":"/petcontrol","method":"get","upload":false,"swaggerDoc":"","x":620,"y":300,"wires":[["38e17004.d32d1","c48564f9.80ce28","736b3d7b.935214"]]},{"id":"c48564f9.80ce28","type":"function","z":"b407bac.7f86048","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":300,"wires":[["7a1f8670.3d7f98"]]},{"id":"7a1f8670.3d7f98","type":"http response","z":"b407bac.7f86048","name":"","statusCode":"","headers":{},"x":950,"y":300,"wires":[]},{"id":"284162d7.f0783e","type":"http in","z":"b407bac.7f86048","name":"","url":"/input","method":"get","upload":false,"swaggerDoc":"","x":80,"y":600,"wires":[["d8bf0720.87f8d8","158f9052.77f1c","3cc16324.c12f6c"]]},{"id":"3cc16324.c12f6c","type":"function","z":"b407bac.7f86048","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":600,"wires":[["99a1f149.7e946"]]},{"id":"99a1f149.7e946","type":"http response","z":"b407bac.7f86048","name":"","statusCode":"","headers":{},"x":570,"y":600,"wires":[]},{"id":"158f9052.77f1c","type":"ibmiot out","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","outputType":"cmd","deviceId":"240602","deviceType":"AkshuDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":540,"wires":[]},{"id":"fe2505af.38a3e8","type":"http in","z":"b407bac.7f86048","name":"","url":"/timer","method":"get","upload":false,"swaggerDoc":"","x":80,"y":720,"wires":[["5d545b5a.38c034","e05a4101.083a","d8bf0720.87f8d8"]]},{"id":"e05a4101.083a","type":"ibmiot out","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","outputType":"cmd","deviceId":"240602","deviceType":"AkshuDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":780,"wires":[]},{"id":"5d545b5a.38c034","type":"function","z":"b407bac.7f86048","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":720,"wires":[["27554ad8.6168c6"]]},{"id":"27554ad8.6168c6","type":"http response","z":"b407bac.7f86048","name":"","statusCode":"","headers":{},"x":570,"y":720,"wires":[]},{"id":"a4ea880a.89c9d8","type":"cloudant out","z":"b407bac.7f86048","name":"","cloudant":"","database":"water_food_level","service":"node-red-etaea-2021--cloudant-1625752173051-20965","payonly":false,"operation":"insert","x":610,"y":100,"wires":[]},{"id":"642c0e2c.9886f","type":"ibmiot in","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"240602","applicationId":"","deviceType":"AkshuDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":960,"wires":[["3dede606.1284ea","bbb93c2c.97c2c","5cd27c3e.a1b6b4","1fcacab6.1b1835"]]},{"id":"cdf91852.bd13e8","type":"inject","z":"b407bac.7f86048","name":"Open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"{\"watero\" : \"wateropen\",\"foodo\" : \"foodopen\"}","payloadType":"json","x":90,"y":1060,"wires":[["3dede606.1284ea","bbb93c2c.97c2c","5cd27c3e.a1b6b4","1fcacab6.1b1835"]]},{"id":"3dede606.1284ea","type":"function","z":"b407bac.7f86048","name":"WaterOpen","func":"msg.payload = msg.payload.watero\nglobal.set('wo',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":960,"wires":[["a570f71c.306478"]]},{"id":"a570f71c.306478","type":"debug","z":"b407bac.7f86048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1060,"wires":[]},{"id":"67c0be07.386ab","type":"http in","z":"b407bac.7f86048","name":"","url":"/output","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1220,"wires":[["88abdc4f.91a95"]]},{"id":"2c752fd.79517d","type":"http response","z":"b407bac.7f86048","name":"","statusCode":"","headers":{},"x":570,"y":1220,"wires":[]},{"id":"88abdc4f.91a95","type":"function","z":"b407bac.7f86048","name":"","func":"msg.payload = {\"water\": global.get('wo'),\"food\": global.get('fo'),\"water1\": global.get('wc'),\"food1\": global.get('fc')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1220,"wires":[["2c752fd.79517d","a570f71c.306478"]]},{"id":"bbb93c2c.97c2c","type":"function","z":"b407bac.7f86048","name":"FoodOpen","func":"msg.payload = msg.payload.foodo\nglobal.set('fo',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1020,"wires":[["a570f71c.306478"]]},{"id":"aaef3028.2ce79","type":"debug","z":"b407bac.7f86048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1320,"wires":[]},{"id":"306304da.c51fcc","type":"watson-speech-to-text","z":"b407bac.7f86048","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kcRccLI4XMmfMATxTBUbnbIqJprpWXr3P62zKP3eqmjp","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/032a4e2c-8e1e-4e54-aa50-961dcf1cb9aa","x":320,"y":1320,"wires":[["aaef3028.2ce79","8a1622f2.28612"]]},{"id":"d05a23df.21153","type":"ui_microphone","z":"b407bac.7f86048","name":"","group":"e5cae82d.99d338","order":0,"width":0,"height":0,"maxLength":"3","maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":110,"y":1340,"wires":[["306304da.c51fcc"]]},{"id":"d2d481ab.fb5f3","type":"ibmiot out","z":"b407bac.7f86048","authentication":"apiKey","apiKey":"bd78e8e2.3e1578","outputType":"cmd","deviceId":"240602","deviceType":"AkshuDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":630,"y":1420,"wires":[]},{"id":"8a1622f2.28612","type":"csv","z":"b407bac.7f86048","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"command","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":340,"y":1440,"wires":[["d2d481ab.fb5f3","aaef3028.2ce79"]]},{"id":"5cd27c3e.a1b6b4","type":"function","z":"b407bac.7f86048","name":"WaterClose","func":"msg.payload = msg.payload.waterc\nglobal.set('wc',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1080,"wires":[["a570f71c.306478"]]},{"id":"1fcacab6.1b1835","type":"function","z":"b407bac.7f86048","name":"FoodClose","func":"msg.payload = msg.payload.foodc\nglobal.set('fc',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1140,"wires":[["a570f71c.306478"]]},{"id":"ae373f2f.d42c9","type":"inject","z":"b407bac.7f86048","name":"Close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"{\"waterc\" : \"waterclose\",\"foodc\" : \"foodclose\"}","payloadType":"json","x":100,"y":1120,"wires":[["3dede606.1284ea","bbb93c2c.97c2c","5cd27c3e.a1b6b4","1fcacab6.1b1835"]]},{"id":"bd78e8e2.3e1578","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8412eb08.830d58","type":"ui_group","name":"Sensor","tab":"cb72e321.ac1d6","order":1,"disp":true,"width":"6","collapse":false},{"id":"3eb335fd.15c7fa","type":"ui_group","name":"Control","tab":"cb72e321.ac1d6","order":2,"disp":true,"width":"6","collapse":false},{"id":"e5cae82d.99d338","type":"ui_group","name":"Audio","tab":"e692ab83.876368","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb72e321.ac1d6","type":"ui_tab","name":"Smart Pet Dispenser","icon":"dashboard","disabled":false,"hidden":false},{"id":"e692ab83.876368","type":"ui_tab","name":"Smart Audio","icon":"dashboard","disabled":false,"hidden":false}]